# Run helper every time a Bluetooth device appears
# On remove actions, bluetoothd should go away by itself
ACTION=="add", ATTR{type}=="bluetooth", RUN+="bluez.sh /sys/class/bluetooth/%s{name}/%k/state %s{name}"
